<!DOCTYPE html>
html(lang="de")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Wordpress Tutorial
    link(rel="stylesheet", href="assets/css/style.css")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap" rel="stylesheet")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
    link(rel="shortcut icon", href="favicon.ico", type="image/x-icon")
  body
    .wrapper
      h1 Einführung in das CMS Wordpress
      p nachdem ihr das 
        a(href="https://test-schaal-design.de/wp-admin") Dashboard
        |  betreten habt, und den Username und Passwort eingegeben habt, könnt ihr folgendes tun:
      ul
        li Texte der Seiten anpassen 
          a(href="#one") 1.1 <i class="fas fa-arrow-right"></i>
        li Hintergrundbilder der Seiten ändern 
          a(href="#two") 2.1 <i class="fas fa-arrow-right"></i>
        li Farbe der Menüpunkte ändern 
          a(href="#three") 3.1 <i class="fas fa-arrow-right"></i>
        li Social-Media-Menü 
          a(href="#four") 4.1 <i class="fas fa-arrow-right"></i>
      h2 Texte ändern:
      ol#one
        li Schaltfläche <span class="accent">Seiten</span> klicken
        li Gewünschte Seite anklicken
        li Titel bitte nicht ändern!
        li Zeilenumbrüche, Auszeichnungen etc. einfügen
        li HAPPY EDITING!
        .tip
          p Hier könnt ihr auch auf die HTML-Ansicht umschalten, falls gewünscht. Für weitere Infos nach "Gutenberg Block" googlen
      h2 Hintergrundbild ändern:
      ol#two
        li Schaltfläche <span class="accent">Seiten</span> klicken
        li Gewünschte Seite anklicken
        li Rechts in der Leiste auf "Beitragsbild" klicken
        li Bild hochladen und einfügen
        li DONE!
      h2 Farbe der Menüpunkte ändern:
      ol#three
        li Schaltfläche <span class="accent">Design</span> und dann auf Menüs
        li bei "Wähle ein Menü zum bearbeiten" das "Header Menu" auswählen und Schaltfläche <span class="accent">Auswählen</span> klicken
        li kleiner Pfeil neben dem gewünschten Menüpunkt klicken und unter "color" mit einem Color-Picker die gewünschte Farbe wählen
        li HAPPY COLORING!
        .tip
          p Hier könnt auch die Reihenfolge der Menüpunkte per Drag&Drop ändern, aber passt auf, dass ihr diese nicht verschachtelt und somit Untermenüs entstehen
      h2 Social Media Link und Icon ändern/hinzufügen
      ol#four
        li Schaltfläche <span class="accent">Design</span> und dann auf Menüs
        li bei "Wähle ein Menü zum bearbeiten" "Social Menu" auswählen und Schaltfläche <span class="accent">Auswählen</span> klicken
        li in der linken Spalte unter "Menüeinträge hinzufügen" auf "individuelle Links" klicken
        li URL und Link-text eingeben (dieser wird durch ein Logo ersetzt)
        li in der rechten Spalte hinzugefügte SM-Plattform auswählen und unter Icon ein Bild hinzufügen
        li HAPPY SOCIALIZING! <br><br><br>


    footer
      p Made with <img class="wine" src="assets/img/wine.svg"> by <a href="https://schaal.design">schaal.design</a>
        



    
